<?xml version="1.0" encoding="utf-8"?>
<!-- http://sharepoint/sites/corext/LivingDocs/Corext.config.aspx -->
<corext cacheRoot="%NugetMachineInstallRoot%" generationRoot="%PackageAddressGenDir%" userExtensions="%CorextUserExtensions%">
  <repositories>
    <repo name="OneBranch-Consumption" uri="https://msazure.pkgs.visualstudio.com/One/_packaging/OneBranch-Consumption/nuget/v3/index.json" />
  </repositories>
  <packages>
    <!-- SourceControl -->
    <package id="Corext.SourceControl.Git" version="1.0.1" />
    <!-- CoreXT -->
    <package id="Corext.Rewind" version="1.1.2" />
    <package id="Corext.Extras" version="1.0.6" />
    <package id="Corext.Aliases" version="1.0.7" />
    <package id="Corext.Build" version="2.1.5" />
    <package id="Corext.Tools" version="3.0.1" />
    <package id="Corext.Support" version="1.0.0" />
    <!-- OneBranch Init -->
    <package id="OneBranch.Init" version="1.0.6" allowedVersions="[1,2)" />
    <!-- Combination of OneBranch root init.cmd and myenv.cmd -->
    <package id="OneBranch.Argo" version="1.0.6" allowedVersions="[1,2)" />
    <!-- Code changes + init.cmd -->
    <!-- OneBranch: Required AutoUpgrade Packages -->
    <package id="TipOfTheDay.OneBranch" version="1.0.29" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="LocalSigning" version="2.0.19" allowedVersions="[2,3)" autoUpgrade="true" />
    <package id="PRSSign.OneBranch" version="3.0.1578237" allowedVersions="[3,4)" autoUpgrade="true" />
    <package id="CodeSign.AD" version="2.2.92717" allowedVersions="[2,3)" autoUpgrade="true" />
    <package id="OneBranch.GitHooks" version="1.0.24" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="OneBranch.GitScripts" version="1.0.4" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="BuildReq" version="1.0.158.1" allowedVersions="[1,2)" autoUpgrade="true" />
    <!-- OneBranch Environment: BuildTools -->
    <package id="Corext.Build.OneBranch" version="1.0.0" allowedVersions="[1,2)" />
    <package id="CorextPath1st.OneBranch" version="1.0.4" allowedVersions="[1,2)" />
    <package id="GenerateVersions.OneBranch" version="3.0.1" />
    <!-- Self contained beaver -->
    <package id="CoreTargets.OneBranch" version="3.0.1" allowedVersions="[3,4)" />
    <!-- Disable Git commands in CloudBuild -->
    <package id="BuildTypes.GitCorext" version="1.0.0" allowedVersions="[1,2)" />
    <package id="Aliases.Core" version="1.0.5" allowedVersions="[1,2)" />
    <package id="AD.BuildIndexer" version="1.0.425.0" />
    <package id="PortableGit" version="2.17.1" allowedVersions="[2,3)" />
    <package id="NuProj" version="1.1.41" allowedVersions="[1,2)" />
    <package id="BuildManifest" version="1.0.168.4" />
    <package id="PublishSymbols.OneBranch" version="1.0.5" allowedVersions="[1,2)" />
    <package id="Powershell.Corext" version="2.0.0" />
    <package id="BCDT.amd64" version="2.0.0.1" />
    <package id="Microsoft.OneBranch.Tasks" version="1.0.647" allowedVersions="[1,2)" />
    <package id="Perl.Corext" version="5.10.0.2" />
    <!-- Required for the build shim in Corext.Build, new package exports itself to path -->
    <package id="PostBuild.OneBranch" version="1.0.1" allowedVersions="[1,2)" />
    <package id="NuGet.CommandLine" version="5.5.1" />
    <!-- Packages should call NuGet from this package -->
    <package id="OneBranch.ServiceTree.Tools" version="1.0.0" allowedVersions="[1,2)" autoUpgrade="true" />
    <!-- OneBranch Environment: DevTools -->
    <package id="MsBuildShim.OneBranch" version="2.1.12" allowedVersions="[2,3)" />
    <!-- Add logic to redirect to Corext.Build build shim if quickbuild -->
    <package id="OneBranch.UCRT.x86" version="14.0.23615.2" />
    <package id="VsMsBuild.Corext" version="3.2.15" />
    <package id="MsBuild.Corext" version="16.7.1" />
    <package id="Microsoft.Build.Telemetry" version="1.0.7" />
    <package id="MsBuild.Wrap.Corext" version="1.0.25" />
    <package id="UpdatePackages" version="1.1.1.2" allowedVersions="[1,2)" />
    <!-- OneBranch Environment: SdlTools -->
    <package id="OACR.CoreXT" version="3.9.28502.1" />
    <package id="OACR.CoreXT.Exclusions" version="3.6.30318.14" />
    <package id="OACR.OnCorext" version="1.0.2.1" />
    <package id="ApiScanTool" version="0.0.43" />
    <package id="BinScope" version="0.0.39" />
    <package id="CredScanner" version="0.0.34" />
    <package id="HardcodedStringScanner" version="0.0.16" />
    <package id="PoliCheck" version="5.7.0.5" />
    <!-- OneBranch Environment: LocTools -->
    <package id="Localization" version="3.2.2" allowedVersions="[3,4)" autoUpgrade="false" />
    <package id="Localization.Languages" version="1.1.12" allowedVersions="[1,3)" autoUpgrade="true" />
    <package id="LBA.Corext" version="5.5.1031.4" />
    <package id="LBA.CSIntl" version="1.0.4" allowedVersions="[1,2)" autoUpgrade="true" />
    <package id="LSBuild.Corext" version="6.12.6202.4" allowedVersions="[6,7)" autoUpgrade="true" />
    <package id="LSBuild.CSIntl" version="1.0.17" allowedVersions="[1,2)" autoUpgrade="true" />
    <!-- OneBranch Environment: BuildToolsForQ -->
    <package id="CloudBuild.OnCorext" version="4.0.2" />
    <!-- New major release does not include build shim, needs Corext.Build -->
    <package id="CloudBuild.OnCorext.OneBranch" version="3.0.14" allowedVersions="[3,4)" autoUpgrade="true" />
    <!-- Adds in logic to use WaNuget sources to pull packages to mitigate CloudBuild feed auth issues -->
    <package id="CloudVaultWaesForQ.OneBranch" version="1.0.15" allowedVersions="[1,2)" />
    <package id="CloudVaultClient" version="2.2.0.17" />
    <package id="AzValidClient" version="1.0.2" />
    <!-- .NET Framework -->
    <package id="DotNetFxRefAssemblies.Corext" version="4.0.30319" />
    <!-- .net 4.5 -->
    <package id="DotNetFxRefAssemblies.Corext" version="4.5.2.1" allMacros="true" />
    <package id="NET_Framework_472_TargetingPack" version="4.7.03081.00" />
    <package id="DotNetFxTools.Corext" version="4.0.0" />
    <package id="DotNetFxGAC.Corext" version="4.5.4" />
    <!-- Test Tools Imports -->
    <package id="MsTest.Corext" version="10.0.0" />
    <package id="TAEF.amd64" version="4.0" />
    <package id="TAEF.x86" version="4.0" />
    <package id="WAES" version="1.0.34" />
    <package id="VisualStudio.UnitTest.Corext" version="14.0.0" />
    <!-- Azure -->
    <package id="Azure.Corext" version="3.0.0" />
    <package id="NPM.OnCloudBuild" version="3.2.0" />
    <!-- Cpp -->
    <package id="VisualCppTools.OnCorext" version="1.1.0" />
    <package id="VisualCppTools" version="14.27.29112" />
    <package id="NetFxSDK.Corext" version="4.6.0" />
    <package id="Kits" version="10.0.17763.1-v1" />
    <!--Roslyn Analysers-->
    <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.1" />
    <package id="Microsoft.Internal.Analyzers" version="2.6.3" />
    <!-- Codesign SNK file -->
    <package id="Codesign.KeyFile" version="1.0.0" />
    <!--Wix -->
    <package id="WiX" version="3.10.0" />
    <!-- Fix PathTooLongException -->
    <package id="Localization.PostBuildOverride" version="1.0.0-beta4" />
    <!-- OpenPop.Net Imports -->
    <package id="OpenPop.NET" version="2.0.6.1120" />
    <!-- ******************************************************************************
                       ADD ALL OTHER REQUIRED PACKAGES AFTER THIS 
         ****************************************************************************** -->
    <!-- Package for Patch and Hotfix-->
    <package id="SCOM.Microsoft.SystemCenter.OMSetup.debug" version="10.21.10129" />
    <package id="SCOM.Microsoft.SystemCenter.OMSetup.retail" version="10.21.10129" />
    <!-- Packages for Bin Drops-->
    <package id="SCOM.Microsoft.SystemCenter.External.Agent.debug" version="10.21.10073.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.Agent.retail" version="10.21.10073.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.SM.debug" version="10.21.1270.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.SM.retail" version="10.21.1270.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCX.debug" version="10.21.1273.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCX.retail" version="10.21.1273.0" />
    <package id="SCX.TestDrop.debug" version="10.21.1273.0" />
    <package id="SCX.TestDrop.retail" version="10.21.1273.0" />

    <package id="SCOM.Microsoft.SystemCenter.External.AjaxMin" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Ajax" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.AjaxToolkit" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.BAM" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Collaboration" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Coverage" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.DiagramFX" version="1.0.2" />
    <package id="SCOM.Microsoft.SystemCenter.External.DSL" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Dundas" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Expression" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.IdentityFoundation" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.IIS" version="1.0.5" />
    <package id="SCOM.Microsoft.SystemCenter.External.Indigo" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Instrumentation" version="1.0.6" />
    <package id="SCOM.Microsoft.SystemCenter.External.JavaAgent" version="1.0.2" />
    <package id="SCOM.Microsoft.SystemCenter.External.ManagementPackCatalog" version="1.0.1" />
    <package id="SCOM.AVIcode.DotNet.SystemCenter.Client.Monitoring" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.ManagementPacks" version="1.0.2" />
    <package id="SCOM.Microsoft.SystemCenter.External.Monad" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.msxml" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.OOMADs" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.PidGenX" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Prism" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.R2Binaries" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.R2SDKBinaries" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.ReportViewer" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.RX" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCE" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.SSRS" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.SQM" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.SqmFilter" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.Unity" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.VSTO" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.VSTS" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.WPFToolKit" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.AzureSDK" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.TeamFoundation" version="11.0.50522.2" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.Sharepoint" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.Product.UX.Core.Tools" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.OperationsManager.Build.Tools" version="1.0.5" />
    <package id="SCOM.Microsoft.Web.Administration" version="1.0.0" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.SDK.CLR" version="1.0.1" />
    <package id="SCOM.Agent.CSMSerializerGenerator" version="1.0.3" />
    <package id="SCOM.MSIManagedLibs" version="3.0.5035" />
    <package id="SCOM.Silverlight.v5.0" version="1.0.0" />
    <package id="SCOM.lc" version="4.6.1055" />
    <package id="SCOM.Newtonsoft.Json" version="1.0.0" />
    <package id="SCOM.Silverlight" version="1.0.0" />
    <package id="SCOM.GenerateExceptionCode" version="1.0.1" />
    <package id="SCOM.System.CoreEx" version="1.0.1" />
    <package id="SCOM.MpCatalog.Admin.UI.Ref" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.OperationsManager.MP.Nuget" version="1.0.0" />
    <package id="SCOM.Microsoft.SystemCenter.External.VMM" version="1.0.1" />
    <package id="SCOM.NetworkMonitoring.Build" version="1.0.2" />
    <package id="SCOM.WebServicesManagement.Infrastructure.External.Proteus" version="1.0.1" />
    <package id="SCOM.PidCa" version="1.0.1" />
    <package id="SCOM.DatasetConfigProcessor" version="1.0.1" />
    <package id="SCOM.SDK.Server.MPInfrastructure.MSI" version="1.0.1" />
    <package id="SCOM.VSPlugin.Office.MSO" version="1.0.1" />
    <package id="SCOM.BIDMOFGen" version="1.0.1" />
    <package id="SCOM.Microsoft.SystemCenter.External.MU" version="1.0.1" />
    <package id="SCOM.MCF" version="1.0.1" />
    <package id="SCOM.SharpSnmp" version="1.0.1" />
    <package id="SCOM.MP.AI.ApplicationInsights.Resources" version="1.0.0" />
    <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.4" />
    <package id="TraceWpp.Corext" version="6.0.5740" />
    <package id="Microsoft.Azure.LogAnalytics.ManagedWPP" version="1.0.1" />
    <package id="SCOM.SharepointTools" version="1.0.1" />
    <package id="Microsoft.ApplicationInsights" version="2.12.0" />
    <!--TestCode Nugets-->
    <package id="SCOM.Test.Advisor" version="1.0.0" />
    <package id="SCOM.Test.AI" version="1.0.3" />
    <package id="SCOM.Test.appmon" version="1.0.6" />
    <package id="SCOM.Test.Core" version="1.0.0" />
    <package id="SCOM.Test.DB" version="1.0.0" />
    <package id="SCOM.Test.MediaVerification" version="1.0.0" />
    <package id="SCOM.Test.momcommon" version="1.0.0" />
    <package id="SCOM.Test.MP" version="1.0.0" />
    <package id="SCOM.Test.NetworkMonitoring" version="1.0.0" />
    <package id="SCOM.Test.Performance" version="1.0.0" />
    <package id="SCOM.Test.SDK" version="1.0.1" />
    <package id="SCOM.Test.Security" version="1.0.1" />
    <package id="SCOM.Test.setup" version="1.0.0" />
    <package id="SCOM.Test.Test_Dependency" version="1.0.1" />
    <package id="SCOM.Test.Tools" version="1.0.2" />
    <package id="SCOM.Test.UI" version="1.0.4" />
    <package id="SCOM.Test.WSM" version="1.0.0" />
    <package id="SCOM.Test.External" version="1.0.1" />
    <package id="SCOM.Test.TestDependency.ManagementPacks" version="1.0.0" />
    <package id="SCOM.Test.Tools.TraceProcessor" version="1.0.0" />
    <package id="SCOM.Test.Microsoft.SystemCenter.Ext.VisualStudio.VS2015" version="1.0.0" />
    <package id="SCOM.Test.CDMShare.Main.Builds.MP.EN" version="1.0.0" />
    <!-- Below projects are not migrated in product so we are consuming there binaries as nuget in testcode -->
    <package id="SCOM.Product.MP.Tool.MpDiff.MpDiff.Core" version="1.0.0" />
    <package id="SCOM.Product.MP.Tools.MPBestPracticesAnalyzer" version="1.0.0" />
    <package id="SCOM.Product.Tools.Presentation.MpStorage" version="1.0.0" />
    <!-- Package contains build tracker api helper DLL for nuget publishing -->
    <package id="System.Center.Nuget.Creator" version="1.0.0" />
  </packages>
  <!-- Scenarios are for grouping, as well as coordinating a version param with a package.  This will be simplified in the future -->
  <scenarios />
  <generator>
    <!--
      * init.cmd environment initialization, used by CmdAddressFileGenerator
      * @id            : [required] Id to lookup
      * @version       : [optional] partial version to match in lookup (cannot be used with scenario*)
      * @scenario      : [optional] scenario to find for the given id (requires scenarioValue, cannot be used with version)
      * @scenarioValue : [optional] value to match for the given (required) scenario
      * @as            : [optional] semicolon delimited environment variable names for the package Path.  Default is Pkg[id].
      * @versionAs     : [optional] semicolon delimited environment variable names for the package Version.  Not set by default.
    -->
    <section name="init" type="Corext.Config.InitPackageSection,Corext">
      <!-- Environment Tools Imports -->
      <package id="Corext.Tools" as="CoreXTTools" />
      <package id="Azure.Corext" as="PkgAzure_Corext" />
      <package id="Corext.Build" />
      <package id="CloudBuild.OnCorext" as="PkgQuickBuild_OnCoreXT" />
      <!-- BuildTools.OneBranch -->
      <package id="CorextPath1st.OneBranch" />
      <package id="GenerateVersions.OneBranch" as="COREXT_VERSION_FORMAT_PATH" />
      <package id="CoreTargets.OneBranch" as="CustomExtendedTargetsPath" />
      <package id="BuildTypes.GitCorext" />
      <package id="Aliases.Core" />
      <package id="OneBranch.Argo" as="Argo" />
      <package id="AD.BuildIndexer" as="BuildIndexer" />
      <package id="BuildReq" as="BuildReq" />
      <package id="PublishSymbols.OneBranch" />
      <package id="Powershell.Corext" />
      <package id="BCDT.amd64" as="OneBranchBCDTPath" />
      <package id="Microsoft.OneBranch.Tasks" as="OneBranchTaskPath" />
      <package id="Perl.Corext" />
      <package id="PostBuild.OneBranch" />
      <package id="OneBranch.ServiceTree.Tools" />
      <!-- SdlTools.OneBranch -->
      <package id="OACR.Corext" />
      <package id="OACR.Corext.Exclusions" />
      <package id="BinScope" />
      <package id="ApiScanTool" />
      <package id="CredScanner" />
      <package id="HardcodedStringScanner" />
      <package id="PoliCheck" />
      <!-- LocTools.OneBranch -->
      <package id="Localization" />
      <package id="LsBuild.Corext" />
      <package id="LsBuild.Corext" version="6.12" as="PkgLsBuild_Corext_6_12" />
      <!-- Cpp -->
      <package id="VisualCppTools" versionAs="PkgVisualCppVer" />
      <!-- ManagedCode -->
      <package id="DotNetFxGAC.Corext" />
      <!-- NuGet packaging -->
      <package id="NuGet.CommandLine" />
    </section>
  </generator>
</corext>