<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\private\nuget\packages" />
  </config>
  <packageSources>
    <clear />
    <!-- Please refer to wiki (https://msasg.visualstudio.com/Bing_and_IPG/_wiki/wikis/Bing_and_IPG.wiki/57333/Add-New-Feeds-to-Nuget.Config) for adding new feeds -->
    <add key="xap_consumption" value="https://msasg.pkgs.visualstudio.com/_packaging/xap_consumption/nuget/v3/index.json" />
  </packageSources>
</configuration>