<!--
***********************************************************************************************
    Repository Configuration 

    Initial settings and repository wide configuration for entry points and common data
    Used to defined everything from name to publishing packages per each repository
    
    Copyright (C) Microsoft Corporation. All rights reserved.
***********************************************************************************************
-->

<Repository>
  <!-- Common settings -->
  <Name>SystemCenter-OnlineCatalog</Name>
  <Description>SCOM</Description>

  <!-- Path is sometimes used by build drop -->
  <Path>SystemCenter\OnlineCatalog</Path>
  <Owners>OnlineCatalog</Owners>

  <!-- Precheckin validation -->
  <!--<CodeReviewEmailTo>scomblds</CodeReviewEmailTo>-->

  <!-- Nuget publish server to use to publish the packages from builds -->
  <DevPackagePublishServer>https://msazure.pkgs.visualstudio.com/_packaging/Dev/nuget/v3/index.json</DevPackagePublishServer>
  <OfficialPackagePublishServer>https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json</OfficialPackagePublishServer>


  <!-- Official build configuration | email aliases must contain @microsoft.com | separate multiple emails by comma -->
  <!--<BuildEmailTo>scomblds@microsoft.com,SC1ESVteam@microsoft.com</BuildEmailTo>-->

  <!-- Name of the CloudBuild Queue for branch -->
  <Q>
    <QueueName>CDP_SystemCenter-OnlineCatalog</QueueName>
  </Q>

  <!-- Official/Buddy defaultBuildSystem options: VSTS, BuildTracker, CloudBuild -->
  <OfficialBuild defaultBuildSystem="VSTS" />

  <BuddyBuild defaultBuildSystem="VSTS" />

  <!-- Enable localization HB check-in as direct commit -->
  <Localization>
    <!-- [Optional] The type of commit used for localization handbacks [default=PullRequest].
         Values are:
           PullRequest  : The commit will happen in a zzz_loctemp/[ServiceBusId] branch and a Pull Request will be submitted.
           DirectCommit : The commit will happen directly in this branch.

         Default value: unset
    -->
    <CommitType>DirectCommit</CommitType>
    <!-- [Optional Override for the Handback Processor copy back file patterns.
                   Semi-colon list of file patterns (using FileSystem wild cards).
         Default value: unset
    -->
    <OverrideCopyBackIncludePatterns>*.lcl</OverrideCopyBackIncludePatterns>
  </Localization>

  <!-- Trust Services Automation (TSA) for SDL log processing -->
  <TSA>
    <!--<Notification>scomft@microsoft.com,SC1ESVteam@microsoft.com;SCOMSMVendorTeam@microsoft.com</Notification>-->
    <AreaPath>One\AIM\System Center\Online Catalog</AreaPath>
    <Template>TFSMSAzure</Template>
    <UsePPE>false</UsePPE>
    <ToolsOptOut>BinScope;APIScan;PoliCheck;FxCop</ToolsOptOut>
    <!-- The branch against which TSA will create alerts [optional: can be a comma\semicolon delimited list of case-sensitive branchnames]. -->
    <DefaultBranches>master,develop</DefaultBranches>
  </TSA>
</Repository>
