<?xml version="1.0" encoding="utf-8"?>
<corext xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" cacheRoot="D:\CxCache" generationRoot="D:\SystemCenter-OnlineCatalog\.corext\gen" requireProvenance="false" userExtensions="%CorextUserExtensions%" verbose="false">
  <repositories>
    <repo name="OneBranch-Consumption" uri="https://msazure.pkgs.visualstudio.com/One/_packaging/OneBranch-Consumption/nuget/v3/index.json" />
  </repositories>
  <packages>
    <package id="Corext.SourceControl.Git" version="1.0.1" autoUpgrade="false" />
    <package id="Corext.Rewind" version="1.1.2" autoUpgrade="false" />
    <package id="Corext.Extras" version="1.0.6" autoUpgrade="false" />
    <package id="Corext.Aliases" version="1.0.7" autoUpgrade="false" />
    <package id="Corext.Build" version="2.1.5" autoUpgrade="false" />
    <package id="Corext.Tools" version="3.0.1" autoUpgrade="false" />
    <package id="Corext.Support" version="1.0.0" autoUpgrade="false" />
    <package id="OneBranch.Init" version="1.0.6" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="OneBranch.Argo" version="1.0.6" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="TipOfTheDay.OneBranch" version="1.0.29" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="LocalSigning" version="2.0.19" autoUpgrade="true" allowedVersions="[2,3)" />
    <package id="PRSSign.OneBranch" version="3.0.1578237" autoUpgrade="true" allowedVersions="[3,4)" />
    <package id="CodeSign.AD" version="2.2.92717" autoUpgrade="true" allowedVersions="[2,3)" />
    <package id="OneBranch.GitHooks" version="1.0.24" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="OneBranch.GitScripts" version="1.0.4" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="BuildReq" version="1.0.158.1" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="Corext.Build.OneBranch" version="1.0.0" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="CorextPath1st.OneBranch" version="1.0.4" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="GenerateVersions.OneBranch" version="3.0.1" autoUpgrade="false" />
    <package id="CoreTargets.OneBranch" version="3.0.1" autoUpgrade="false" allowedVersions="[3,4)" />
    <package id="BuildTypes.GitCorext" version="1.0.0" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="Aliases.Core" version="1.0.5" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="AD.BuildIndexer" version="1.0.425.0" autoUpgrade="false" />
    <package id="PortableGit" version="2.17.1" autoUpgrade="false" allowedVersions="[2,3)" />
    <package id="NuProj" version="1.1.41" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="BuildManifest" version="1.0.168.4" autoUpgrade="false" />
    <package id="PublishSymbols.OneBranch" version="1.0.5" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="Powershell.Corext" version="2.0.0" autoUpgrade="false" />
    <package id="BCDT.amd64" version="2.0.0.1" autoUpgrade="false" />
    <package id="Microsoft.OneBranch.Tasks" version="1.0.647" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="Perl.Corext" version="5.10.0.2" autoUpgrade="false" />
    <package id="PostBuild.OneBranch" version="1.0.1" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="NuGet.CommandLine" version="5.5.1" autoUpgrade="false" />
    <package id="OneBranch.ServiceTree.Tools" version="1.0.0" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="MsBuildShim.OneBranch" version="2.1.12" autoUpgrade="false" allowedVersions="[2,3)" />
    <package id="OneBranch.UCRT.x86" version="14.0.23615.2" autoUpgrade="false" />
    <package id="VsMsBuild.Corext" version="3.2.15" autoUpgrade="false" />
    <package id="MsBuild.Corext" version="16.7.1" autoUpgrade="false" />
    <package id="Microsoft.Build.Telemetry" version="1.0.7" autoUpgrade="false" />
    <package id="MsBuild.Wrap.Corext" version="1.0.25" autoUpgrade="false" />
    <package id="UpdatePackages" version="1.1.1.2" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="OACR.CoreXT" version="3.9.28502.1" autoUpgrade="false" />
    <package id="OACR.CoreXT.Exclusions" version="3.6.30318.14" autoUpgrade="false" />
    <package id="OACR.OnCorext" version="1.0.2.1" autoUpgrade="false" />
    <package id="ApiScanTool" version="0.0.43" autoUpgrade="false" />
    <package id="BinScope" version="0.0.39" autoUpgrade="false" />
    <package id="CredScanner" version="0.0.34" autoUpgrade="false" />
    <package id="HardcodedStringScanner" version="0.0.16" autoUpgrade="false" />
    <package id="PoliCheck" version="5.7.0.5" autoUpgrade="false" />
    <package id="Localization" version="3.2.2" autoUpgrade="false" allowedVersions="[3,4)" />
    <package id="Localization.Languages" version="1.1.12" autoUpgrade="true" allowedVersions="[1,3)" />
    <package id="LBA.Corext" version="5.5.1031.4" autoUpgrade="false" />
    <package id="LBA.CSIntl" version="1.0.4" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="LSBuild.Corext" version="6.12.6202.4" autoUpgrade="true" allowedVersions="[6,7)" />
    <package id="LSBuild.CSIntl" version="1.0.17" autoUpgrade="true" allowedVersions="[1,2)" />
    <package id="CloudBuild.OnCorext" version="4.0.2" autoUpgrade="false" />
    <package id="CloudBuild.OnCorext.OneBranch" version="3.0.14" autoUpgrade="true" allowedVersions="[3,4)" />
    <package id="CloudVaultWaesForQ.OneBranch" version="1.0.15" autoUpgrade="false" allowedVersions="[1,2)" />
    <package id="CloudVaultClient" version="2.2.0.17" autoUpgrade="false" />
    <package id="AzValidClient" version="1.0.2" autoUpgrade="false" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.0.30319" autoUpgrade="false" />
    <package id="DotNetFxRefAssemblies.Corext" version="4.5.2.1" autoUpgrade="false" />
    <package id="NET_Framework_472_TargetingPack" version="4.7.03081.00" autoUpgrade="false" />
    <package id="DotNetFxTools.Corext" version="4.0.0" autoUpgrade="false" />
    <package id="DotNetFxGAC.Corext" version="4.5.4" autoUpgrade="false" />
    <package id="MsTest.Corext" version="10.0.0" autoUpgrade="false" />
    <package id="TAEF.amd64" version="4.0" autoUpgrade="false" />
    <package id="TAEF.x86" version="4.0" autoUpgrade="false" />
    <package id="WAES" version="1.0.34" autoUpgrade="false" />
    <package id="VisualStudio.UnitTest.Corext" version="14.0.0" autoUpgrade="false" />
    <package id="Azure.Corext" version="3.0.0" autoUpgrade="false" />
    <package id="NPM.OnCloudBuild" version="3.2.0" autoUpgrade="false" />
    <package id="VisualCppTools.OnCorext" version="1.1.0" autoUpgrade="false" />
    <package id="VisualCppTools" version="14.27.29112" autoUpgrade="false" />
    <package id="NetFxSDK.Corext" version="4.6.0" autoUpgrade="false" />
    <package id="Kits" version="10.0.17763.1-v1" autoUpgrade="false" />
    <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.1" autoUpgrade="false" />
    <package id="Microsoft.Internal.Analyzers" version="2.6.3" autoUpgrade="false" />
    <package id="Codesign.KeyFile" version="1.0.0" autoUpgrade="false" />
    <package id="WiX" version="3.10.0" autoUpgrade="false" />
    <package id="Localization.PostBuildOverride" version="1.0.0-beta4" autoUpgrade="false" />
    <package id="OpenPop.NET" version="2.0.6.1120" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.OMSetup.debug" version="10.21.10129" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.OMSetup.retail" version="10.21.10129" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Agent.debug" version="10.21.10073.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Agent.retail" version="10.21.10073.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SM.debug" version="10.21.1270.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SM.retail" version="10.21.1270.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCX.debug" version="10.21.1273.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCX.retail" version="10.21.1273.0" autoUpgrade="false" />
    <package id="SCX.TestDrop.debug" version="10.21.1273.0" autoUpgrade="false" />
    <package id="SCX.TestDrop.retail" version="10.21.1273.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.AjaxMin" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Ajax" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.AjaxToolkit" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.BAM" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Collaboration" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Coverage" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.DiagramFX" version="1.0.2" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.DSL" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Dundas" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Expression" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.IdentityFoundation" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.IIS" version="1.0.5" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Indigo" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Instrumentation" version="1.0.6" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.JavaAgent" version="1.0.2" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.ManagementPackCatalog" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.AVIcode.DotNet.SystemCenter.Client.Monitoring" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.ManagementPacks" version="1.0.2" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Monad" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.msxml" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.OOMADs" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.PidGenX" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Prism" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.R2Binaries" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.R2SDKBinaries" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.ReportViewer" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.RX" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SCE" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SSRS" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SQM" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.SqmFilter" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.Unity" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.VSTO" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.VSTS" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.WPFToolKit" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.AzureSDK" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.TeamFoundation" version="11.0.50522.2" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.Sharepoint" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.Product.UX.Core.Tools" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.OperationsManager.Build.Tools" version="1.0.5" autoUpgrade="false" />
    <package id="SCOM.Microsoft.Web.Administration" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.Ext.SDK.CLR" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Agent.CSMSerializerGenerator" version="1.0.3" autoUpgrade="false" />
    <package id="SCOM.MSIManagedLibs" version="3.0.5035" autoUpgrade="false" />
    <package id="SCOM.Silverlight.v5.0" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.lc" version="4.6.1055" autoUpgrade="false" />
    <package id="SCOM.Newtonsoft.Json" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Silverlight" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.GenerateExceptionCode" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.System.CoreEx" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.MpCatalog.Admin.UI.Ref" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.OperationsManager.MP.Nuget" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.VMM" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.NetworkMonitoring.Build" version="1.0.2" autoUpgrade="false" />
    <package id="SCOM.WebServicesManagement.Infrastructure.External.Proteus" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.PidCa" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.DatasetConfigProcessor" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.SDK.Server.MPInfrastructure.MSI" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.VSPlugin.Office.MSO" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.BIDMOFGen" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Microsoft.SystemCenter.External.MU" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.MCF" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.SharpSnmp" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.MP.AI.ApplicationInsights.Resources" version="1.0.0" autoUpgrade="false" />
    <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.4" autoUpgrade="false" />
    <package id="TraceWpp.Corext" version="6.0.5740" autoUpgrade="false" />
    <package id="Microsoft.Azure.LogAnalytics.ManagedWPP" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.SharepointTools" version="1.0.1" autoUpgrade="false" />
    <package id="Microsoft.ApplicationInsights" version="2.12.0" autoUpgrade="false" />
    <package id="SCOM.Test.Advisor" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.AI" version="1.0.3" autoUpgrade="false" />
    <package id="SCOM.Test.appmon" version="1.0.6" autoUpgrade="false" />
    <package id="SCOM.Test.Core" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.DB" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.MediaVerification" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.momcommon" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.MP" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.NetworkMonitoring" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.Performance" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.SDK" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Test.Security" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Test.setup" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.Test_Dependency" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Test.Tools" version="1.0.2" autoUpgrade="false" />
    <package id="SCOM.Test.UI" version="1.0.4" autoUpgrade="false" />
    <package id="SCOM.Test.WSM" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.External" version="1.0.1" autoUpgrade="false" />
    <package id="SCOM.Test.TestDependency.ManagementPacks" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.Tools.TraceProcessor" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.Microsoft.SystemCenter.Ext.VisualStudio.VS2015" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Test.CDMShare.Main.Builds.MP.EN" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Product.MP.Tool.MpDiff.MpDiff.Core" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Product.MP.Tools.MPBestPracticesAnalyzer" version="1.0.0" autoUpgrade="false" />
    <package id="SCOM.Product.Tools.Presentation.MpStorage" version="1.0.0" autoUpgrade="false" />
    <package id="System.Center.Nuget.Creator" version="1.0.0" autoUpgrade="false" />
  </packages>
  <scenarios />
  <generator>
    <section name="init" type="Corext.Config.InitPackageSection,Corext">
      <!-- Environment Tools Imports -->
      <package id="Corext.Tools" as="CoreXTTools" />
      <package id="Azure.Corext" as="PkgAzure_Corext" />
      <package id="Corext.Build" />
      <package id="CloudBuild.OnCorext" as="PkgQuickBuild_OnCoreXT" />
      <!-- BuildTools.OneBranch -->
      <package id="CorextPath1st.OneBranch" />
      <package id="GenerateVersions.OneBranch" as="COREXT_VERSION_FORMAT_PATH" />
      <package id="CoreTargets.OneBranch" as="CustomExtendedTargetsPath" />
      <package id="BuildTypes.GitCorext" />
      <package id="Aliases.Core" />
      <package id="OneBranch.Argo" as="Argo" />
      <package id="AD.BuildIndexer" as="BuildIndexer" />
      <package id="BuildReq" as="BuildReq" />
      <package id="PublishSymbols.OneBranch" />
      <package id="Powershell.Corext" />
      <package id="BCDT.amd64" as="OneBranchBCDTPath" />
      <package id="Microsoft.OneBranch.Tasks" as="OneBranchTaskPath" />
      <package id="Perl.Corext" />
      <package id="PostBuild.OneBranch" />
      <package id="OneBranch.ServiceTree.Tools" />
      <!-- SdlTools.OneBranch -->
      <package id="OACR.Corext" />
      <package id="OACR.Corext.Exclusions" />
      <package id="BinScope" />
      <package id="ApiScanTool" />
      <package id="CredScanner" />
      <package id="HardcodedStringScanner" />
      <package id="PoliCheck" />
      <!-- LocTools.OneBranch -->
      <package id="Localization" />
      <package id="LsBuild.Corext" />
      <package id="LsBuild.Corext" version="6.12" as="PkgLsBuild_Corext_6_12" />
      <!-- Cpp -->
      <package id="VisualCppTools" versionAs="PkgVisualCppVer" />
      <!-- ManagedCode -->
      <package id="DotNetFxGAC.Corext" />
      <!-- NuGet packaging -->
      <package id="NuGet.CommandLine" />
    </section>
  </generator>
</corext>