<?xml version="1.0" encoding="utf-8"?>
<corext cacheRoot="%NugetMachineInstallRoot%">
  <repositories>
    <repo name="Build" uri="https://onebranch.pkgs.visualstudio.com/_packaging/Build/nuget/v3/index.json" />
  </repositories>
  <packages>
    <package id="ResolveCorextConfig" version="2.0.15518" allowedVersions="[2,3)" />
  </packages>
  <scenarios />
  <generator />
</corext>